#postSection{
    background-color: #f2f2ff;
    
}
#selectedPost{
    background-color: #f3f3f4;
}
#footerU{
    background-color: #f7f7f8;
}
#topleft {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
  }

  .customCard{
    background-color: #f2f2ff;
  }